/* #root {
  
  margin: 0px auto;
  text-align: center;
} */


/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  overflow: auto;
  margin: 0;
  text-align: center;
} */
